.cat {
  width: 210px;
  text-align: center;
  padding: 10px;
  margin: 10px;
  box-shadow: var(--card-box-shadow);
  border-radius: 8px;
  position: relative;
}

.cat::after {
  height: 100%;
  width: 100%;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: url('/cat-footprint.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: -111px -9px;
  opacity: 0.1;
  pointer-events: none;
}

.cat__toolbar {
  display: flex;
  justify-content: space-between;
  right: 3px;
  top: 1px;
  gap: 4px;
  position: absolute;
}
