.cat {
  width: 200px;
  padding: 20px;
  margin: 10px;
  box-shadow: var(--card-box-shadow);
  border-radius: 15px;
  border-top-left-radius: 50px; /* Slightly rounded corner for "ear" effect */
  border-bottom-right-radius: 50px;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
}

.cat::before {
  content: '🐾';
  font-size: 2em;
  opacity: 0.1;
  position: absolute;
  top: 10px;
  right: 10px;
  transform: rotate(15deg);
}

.cat--placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 141px;
}

.cat__tail {
  position: absolute;
  top: 10px;
  left: -10px;
  width: 40px;
  height: 10px;
  background-color: var(color-light-brown);
  border-radius: 50%;
  transform: rotate(-30deg);
}

.cat__name {
  font-size: 1.5em;
  color: var(--color-black);
  margin-bottom: 10px;
}

.cat__actions {
  position: absolute;
  top: 10px;  
  right: 10px;
  display: flex;
  gap: 10px;
}

.cat__action-icon {
  color: var(--color-gray);
  width: 20px;
  height: 20px;
}

.cat__action-icon:hover {
  color: var(--color-primary);
}

.cat__data {
  font-size: 0.9em;
  color: var(--color-gray);
  margin-bottom: 5px;
}
