:root {
  font-family: sans-serif;
  --card-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.error {
  padding: 10px;
  color: red;
  margin: 10px;
  box-shadow: var(--card-box-shadow);
}

.cat-meta {
  color: gray;
  margin-bottom: 20px;
}

.cats {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.cat {
  width: 250px;
  text-align: center;
  padding: 10px;
  margin: 10px;
  box-shadow: var(--card-box-shadow);
}
