:root {
  font-family: sans-serif;

  --card-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);

  --color-primary: #3700b3;
  --color-error: crimson;
  --color-white: #fff;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.title {
  display: flex;
  gap: 10px;
}

.error {
  padding: 10px;
  color: red;
  margin: 10px;
  box-shadow: var(--card-box-shadow);
}

.cat-meta {
  color: gray;
  margin-bottom: 20px;
}

.cats {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.icon-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}
