.base-input {
  display: flex;
  flex-direction: column;
  gap: 4px;
  color: var(--color-black);
}

.base-input__label {
  font-size: 14px;
}

.base-input__input {
  background: none;
  padding: 0;
  font-size: 1em;
  padding: 8px;
  height: 36px;
  border: 1px solid;
  outline: none;
  border-radius: 8px;

  &:focus {
    border: 1px solid var(--color-primary);
  }
}
